{% extends 'base.html' %}
{% load static cms_tags %}
{% block title %} {{ title }} · {{ block.super }} {% endblock title %}


{% block nav %}
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a href="{{request.META.HTTP_REFERER}}">
              <svg class="icon icon-xs" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd"></path></svg>
         
              Back</a></li>
            <li class="breadcrumb-item active" aria-current="page"> <a href="{{request.get_full_path|slice:-8}}" class="ajax-load-form" title="Edit">
              {{ title }}s</a></li>
          </ol>
        </nav> 
        {% endblock %}


{% block content %}   


{% block table %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
  <h5 class="h5"><span class="text-primary"><a href="{{request.get_full_path|slice:-5}}" class="ajax-load-form" title="Edit">
    {{ detail_title }}</a></span></h5>
  <div class="btn-toolbar mb-2 mb-md-0">
    {% if user.is_cleared %}

      <button type="button" class="btn btn-dark animate-up-2 mr-3 me-2 ajax-upload-files" style="color:white;background: #0C4B33; border-color: #0C4B33 !important">
        <i class="fas fa-file-upload me-2"></i> Upload {{ model_verbose_name_plural|lower }}
      </button>
      {% endif %}

      <a class="btn btn-outline-info animate-up-2 mr-3" href='{{request.get_full_path|slice:-5}}comments'>
        <i class="fas fa-comments me-2"></i>Comments </a>&nbsp
    </div>
</div>

{% if user.is_cleared %}
<div class="card pt-4 pb-4 well text-muted text-center">
  <i class="fas fa-download pb-4" style="font-size: 4rem;"></i>
  <h3>Drop Files Here to Upload</h3>
  <input id="fileupload" type="file" name="file" multiple style="display: none;"
  data-url="{% get_object_url 'upload' %}" data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
</div><br>
{% endif %}

<div class="card">
  <div class="table-responsive py-4">

  <table class="table table-flush table-hover" id="table-ajax" data-page-length='10'>
    <thead class="thead-light">
    <tr>
      <th>{{ object_list|verbose_name:'field:file' }}</th>
      <th>{{ object_list|verbose_name:'field:creation_date' }}</th>
      {% if  user.is_cleared %}
      <th style="width: 125px; text-align: center;">Actions</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% include 'app/partials/file_list_partial.html' %}
  </tbody>
</table>
</div>
</div>
{% endblock table %}


<div class="modal fade" id="modal-progress" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><i class="fa fa-file-upload modal-icon text-success"></i> Uploading...</h4>
      </div>
      <div class="modal-body">
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0"
            aria-valuemax="100">0%</div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" />

<style>
  .table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control:before,
  table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control:before {
    top: 37%;

    background-color: #426381;
  }

</style>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css">

{% endblock extracss %}

{% block extrajs %}
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.11.5/r-2.2.9/datatables.min.js"></script>
<script type="text/javascript" language="javascript"
  src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.js"></script>

<script src="{% static 'js/jquery-fileupload/jquery.ui.widget.js' %}"></script>
<script src="{% static 'js/jquery-fileupload/jquery.iframe-transport.js' %}"></script>
<script src="{% static 'js/jquery-fileupload/jquery.fileupload.js' %}"></script>
<script src="{% static 'js/ajax_fileupload.js' %}"></script>


{% block tick%}
<script>
  var table = $('#table-ajax').DataTable({
    "ordering": false,
    "searching":false,
    "lengthChange": false,
 

    columnDefs: [{
      orderable: true,
      // className: 'select-checkbox',
      targets: 0

    }],
    // select: {
    //   info: true,
    //   style: 'multi',
    //   selector: 'td:nth-child(1)'
    // },
   
  });



</script>


{% endblock  %}
{% endblock %}
