{% extends 'base.html' %}
{% load cms_tags %}
 {% load static %}
{% block title %} {{ title }} · {{ block.super }} {% endblock title %}
 

{% block content %}
{% block table %}
<div id="myDIV" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 pt-3 mb-3">
  <h5 class="h5"><span class="text-primary">
      {% if request.path == '/tickets/' %}<i class="fa fa-mail-bulk me-2"></i>{% endif %}
      {% if request.path == '/opentickets/' %}<i class="far fa-envelope-open me-2"></i>{% endif %}
      {% if request.path == '/unassigned/' %}<i class="fa fa-user-times me-2"></i>{% endif %}
      {% if request.path == '/archive/' %}<i class="fa fa-archive me-2"></i>{% endif %}
      {% if request.path == '/inbox/' %}<i class="fa fa-inbox me-2"></i>{% endif %}
      {% if request.path == '/completed/' %}<i class="fa fa-archive me-2"></i>{% endif %}
      {% if request.path == '/user-list/' %}<i class="fa fa-box-open me-2"></i>{% endif %}
    {{ title }}</span></h5>

    {% if request.user.is_cleared%}
    <div class="btn-toolbar mb-2 mb-md-0">

    <div class="btn-toolbar mb-2 mb-md-0 me-2">   <a href="{% get_object_url 'create' %}"
      class="btn btn-sm btn-gray-800 d-inline-flex align-items-center ajax-load-form ">
      <i class="fas fa-plus me-2"></i>
      Create {{ model_verbose_name }}</a>
   
  </div>
  <div class="dropdown"><button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0"
    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><svg class="icon icon-xs"
        fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z">
        </path>
    </svg> <span class="visually-hidden">Toggle Dropdown</span></button>
<div class="dropdown-menu dashboard-dropdown dropdown-menu-start mt-2 py-1">  
        
        <a class="dropdown-item d-flex align-items-center ajax-load-form" href="{% url 'app:folder-create' %}">
          <i class="fas fa-plus me-2"></i> Create a new folder</a>
     </div>
</div>
  

</div>
    {% endif %}

</div>

<div class="card">
  <div class="table-responsive py-4">
    <table class="table table-flush table-hover" id="table-ajax" data-page-length='10'>

      <thead class="thead-light">
        {% comment %} <tr> {% endcomment %}
          {% comment %} <th data-sortable="" style="width: 18.3791%;"> {% endcomment %}
        <tr>
           <th>#</th>
          <th>{{ object_list|verbose_name:'field:title' }}</th>
          <th>{{ object_list|verbose_name:'field:ticket_choices' }}</th>
          {% comment %} <th>{{ object_list|verbose_name:'field:folder' }}</th> {% endcomment %}

          {% comment %} <th>{{ object_list|verbose_name:'field:assigned_to' }}</th> {% endcomment %}
          <th>{{ object_list|verbose_name:'field:date_sent' }}</th>

          <th class="one">{{ object_list|verbose_name:'field:sent_by' }}</th>

          <th class="one">{{ object_list|verbose_name:'field:last_modified' }}</th>

          <th style="text-align:center">Actions</th>
        </tr>
      </thead>

      <tbody>
        {% include 'app/partials/ticket_list_partial.html' %}
      </tbody>

    </table>
  </div>
</div>
{% endblock table %}
{% endblock content %}



{% block extracss %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" />

<style>
  .table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control:before,
  table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control:before {
    top: 37%;

    background-color: #426381;
  }

</style>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css">
<style>
span.select2-container {
  z-index:10050;
}
</style>

{% endblock extracss %}

{% block extrajs %}
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.11.5/r-2.2.9/datatables.min.js"></script>
<script type="text/javascript" language="javascript"
  src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.js"></script>

{% block tick%}
<script>
  $(document).ready( function () {
  var table = $('#table-ajax').DataTable({
    ordering: true,
     "processing": true,
    //"serverSide": true,
    //any other configuration options
   // "ajax": "/tickets",
    order: [
      [1, 'asc']
    ],
    columnDefs: [{
      orderable: true,
      // className: 'select-checkbox',
      targets: 0

    }],
    // select: {
    //   info: true,
    //   style: 'multi',
    //   selector: 'td:nth-child(1)'
    // },
    "language": {
      "zeroRecords": "Sorry, no entries to display here", //changes words used
      "lengthMenu": "Show _MENU_ entries", //changes words used
      "info": "&raquo; Showing _START_ to _END_ of _TOTAL_ entries", //changes words used
      "search": "", //changes words used originally - Search programs:
      "searchPlaceholder": "Search memos",
      "infoFiltered": "(filtered from _MAX_ entries)"
    }
  });



} );


</script>

{% endblock  %}

{% endblock %}