{% extends 'registration/password_reset_form.html' %}
{% load widget_tweaks %}
{% block navbar %}{% endblock navbar %}

{% block container %}

{% block back_ %}
{% endblock back_ %}

<div class="row justify-content-center form-bg-image">
  <div class="col-12 d-flex align-items-center justify-content-center">
    <div class="bg-white shadow border-0 rounded border-light p-4 p-lg-5 w-100 fmxw-500 text-center" >

    We have emailed you instructions for resetting your password.
  You should receive them shortly.
    <br>
    <br>

    If you don't receive an email, please make sure you have entered the address with an account assigned to you,
    and check your spam folder.
  </div>
</div>
</div>


{% endblock %}