{% extends 'account/signin.html' %}

{% load widget_tweaks %}
{% block navbar %}{% endblock navbar %}

{% block content %}
  
  <form class="form-signin" method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
    {% comment %} <img class="mb-4" src="{% static 'img/bootstrap-solid.svg' %}" alt="" width="72" height="72"> {% endcomment %}
    <h1 class="h3 mb-3 font-weight-normal">Password Reset Form</h1>
    <small>
        <p class="text-muted">
            To reset password, please enter your email address<br>
        </p>
    </small>


    {% for field in form %}
    <label for="{{ field.id_for_label }}" class="sr-only">{{ field.label }}</label>
    {% with WIDGET_ERROR_CLASS='is-invalid' %}
    {% render_field field class="form-control" placeholder=field.label %}
    {% endwith %}
    {% if field.errors %}
        {% for error in field.errors %}
        <div class="text-danger small" role="alert">{{ error }}</div>
        {% endfor %}
    {% endif %}
{% endfor %}   
<button class="btn btn-lg btn-primary btn-block" type="submit">Reset</button>
 </form>
  {% endblock %}

