<nav id="sidebar">
<div class="sidebar-top">
    <div class="sidebar-header">
    <h3>Document</h3>
    </div>

    {% block navbar %}

    <ul class="list-unstyled components">
        
        {% if request.user.is_staff or request.user.is_superuser %}
        <li {% if request.path == '/memos/' %} class="active"{% endif %}>
            <a href="{% url 'app:home' %}"><i class="fa fa-envelopes-bulk"></i> All memos <span
                    class="sr-only">(current)</span></a>
        </li>
        <li {% if request.path == '/openmemos/' %} class="active"{% endif %}> 

            <a href="{% url 'app:open-memos' %}"><i class="fa fa-envelope-open"></i> Open memos</a>
        </li>
        {% endif %}

        {% if not request.user.is_staff or not request.user.is_superuser %}
        <li {% if request.path == '/inbox/' %} class="active"{% endif %}> 
            <a href="{% url 'app:home' %}"><i class="fa fa-envelope-o"></i> Inbox</a>
        <li>
            <li {% if request.path == '/completed/' %} class="active"{% endif %}> 
    
            <a href="{% url 'app:completed-memos' %}">Completed memos</a>
        </li>
    </li>
        {% endif %}
  {% if request.user.is_cleared %}
    <li {% if request.path == '/archive/' %} class="active"{% endif %}> 
        <a href="{% url 'app:memo-archive' %}"><i class="fa fa-briefcase"></i> Archive</a>
    </li>
    {% endif %}


      

    
    </ul>
    
    <ul class="list-unstyled components">

    <li>

        <a href="#categories" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            
            <i class="fa fa-folder"></i> Folders</a>
        <ul class="collapse show list-unstyled content-scrollable" id="categories">
           
           {% for folder in nav_folder%}
           <li>
            <a class="nav-link" href="{{ folder.get_absolute_url }}"><span class="sidebar-text">{{folder|lower|capfirst}} Folder</span></a>
        </li>
        
           {% endfor %} 
           <li><a style="text-decoration: underline" href="{% url 'app:category-list' %}">See all Folders <i class="fa fa-arrow-up-right-from-square"></i></a></li>

   
        </ul>
       
    </li> 
</ul>

<ul class="list-unstyled components">
    <li>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-user-circle"></i> {{user}}</a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
         
            <li {% if request.path == '/account/password_reset/' %} class="active"{% endif %}> 
                <a href="{% url 'password_reset'%}">Change Password</a>
            </li>
        </ul>
    </li>
    
    
  
</ul>
    {% comment %} <div class="sidebar-space"></div> {% endcomment %}
</div>

    {% endblock %}

</nav>

