{% load cms_tags %}
<form  method="post" action="{{ request.path }}" class="ajax-save-update-form">
  {% csrf_token %}
  <div class="modal-header">
    {% comment %} <h4 class="modal-title"><span class=" text-danger"> {{ title }}</span></h4>
    <small class="modal-subtitle"></small>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button> {% endcomment %}
  </div>
  <div class="modal-body">
    <p class="comment">Are you sure want to delete {{ model_verbose_name|lower }}: <strong>{{ object }}</strong>?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-link text-gray-600 ms-auto" data-bs-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-outline-danger"> {{ title }}</button>
  </div>
</form>