
 
 <div class="modal-body">
    
    <form>
        <fieldset disabled>
       
      
        {% for field in form.visible_fields %}
        <div class="form-group mt-4">
            
             {% with WIDGET_ERROR_CLASS='is-invalid' %}
                 <div class="form-group">
                    {{ field }}                
                
            </div>
            {% endwith %}
            
        </div>
        {% endfor %}
    
     {% if comment_overlap %}

    <div class="form-row" style="font-size:inherit">
        <div class="col-6">
            <a  href="{% url 'app:comment-list' ticket.pk %}" title="View comments">

 
            <span class="text-primary">{{ comment_count.count }}  Comments on this </span>
        </a>
        </div>

        <div class="col-6" style="font-size:inherit" >
            <a style="font-size:inherit" href="{% url 'app:file-list' ticket.pk %}" title="View files">

             <span style="font-size:inherit" class="text-success">{{ file_count.count }}  Files Association</span>
        </a>
         </div>
      </div>
           {% endif %}
 
        </fieldset>
    </div>

    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-link text-gray-600 ms-auto" data-bs-dismiss="modal">Close</button>
</div>