{% load widget_tweaks %}
{% load cache %}
{% block extracss %}
{{form.media.css}}
{% endblock extracss %}
<form  enctype="multipart/form-data" method="post" action="{{ request.path }}" class="ajax-save-update-form" id="ajax-save">
    {% csrf_token %}
    {{ request.path }}
     <div class="modal-header">
        <h5 class="modal-title">{% if not form.instance.pk %}<span class=" text-primary"> <i class="fas fa-plus"></i> 
            Create</span>{% else %} <span class="text-primary"><i class="fa fa-edit"></i>
            Update</span>{% endif %}</h5>
            <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>

    </div> 
    <div class="modal-body p-0">
        <div class="card p-3 p-lg-4">


        {% if form.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {% for key, value in form.errors.items %}
                <div class="fieldWrapper">
                {{ key }}: {{ value|striptags }}
                </div>
            {% endfor %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}

        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
        <div class="form-group mb-3">
            <label for="{{ field.id_for_label }}">{{ field.label }}{% if field.field.required %}<span
                    class="text-danger ml-1">*</span>{% endif %}</label>
            {% with WIDGET_ERROR_CLASS='is-invalid' %}
                {% render_field field placeholder=field.help_text %}
            {% endwith %}
            {% if field.errors %}
                {% for error in field.errors %}
                    <div class="text-danger small" role="alert">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
        {% endfor %}

        {% if file_upload %}
        <h6 class="fw-bolder"><u> Files </u></h6>

        {{ file_upload.management_form }}
        {{ file_upload.non_form_errors }}

        {% for upload_form in file_upload.forms %}
     
           {% for hidden in upload_form.hidden_fields %}
                 {{hidden}}
           {% endfor %}
     
                  <div class="link-formset">
                         {{ upload_form.file }}        
                       </div>
                      {% endfor %}
                      {% endif %}
{% comment %} 
    {% if ticket_meta_formset %}
    {{ticket_meta_formset.as_p}}
        {% endif %} {% endcomment %}
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-link text-gray-600 ms-auto" data-bs-dismiss="modal">Close</button>
        {% if not form.instance.pk %}
        <button id='loadOnClick' type="submit" class="btn btn-outline-primary">{{ title }}</button>
        {% else %}
        <button id='loadOnClick' type="submit" class="btn btn-outline-info">{{ title }}</button>
        {% endif %}
    </div>
</form>

{% block extrajs %}

{{ form.media.js}}

{% endblock extrajs %}