.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.div.dataTables_filter {
text-align: right;
width: 87%;
}

.btn-black {
    color: #000;
    background-color: #232d3c;
    border-color: #12243f;
    color: white;
}