{% extends "base-fullscreen.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %} Sign IN {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}


{% block content %}

    <main>
        <section class="vh-lg-100 mt-5 mt-lg-0 bg-soft d-flex align-items-center">
            <div class="container">
                <p class="text-center">
                Document Tracker
                </p>
                <p class="text-center">

                Users 
                email = registrar@gmail.com, staff@gmail.com
                <p class="text-center">password = "admin12345"</p>
              </p>      
          <div class="row justify-content-center form-bg-image" >
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="bg-white shadow border-0 rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                            <div class="text-center text-md-center mb-4 mt-md-0">
                                <h1 class="mb-0 h3">
                                     Sign In
                                </h1>
                                <br />
                                {% comment %} <p>
                                    {% if msg %}
                                        {{ msg | safe }}
                                    {% else %}
                                        Add your credentials
                                    {% endif %}                                     
                                </p>  {% endcomment %}
                            </div>
                            <form class="form-signin " method="post" action="{% url 'account:login' %}">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ next }}" />
                        {% for hidden_field in form.hidden_fields %}
                          {{ hidden_field }}
                        {% endfor %}
                        
                        {% if messages or form.non_field_errors %}
                        <div class="alert {% if messages %}{{ message.tags }}{% else %}alert-danger{% endif %} alert-dismissible fade show small"
                            role="alert" style="padding: 0.75rem 2.25rem;">
                            {% for message in messages %}<div class="fieldWrapper">{{ message }}</div>{% endfor %}
                            {% for error in form.non_field_errors %}<div class="fieldWrapper">{{ error }}</div>{% endfor %}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endif %}
                        
                        {% for field in form.visible_fields %}
                          <div class="form-group mb-4">
                         
                            {% if form.is_bound %}
                            <label for="{{ field.id_for_label }}" class="sr-only">{{ field.label }}</label>
                        
                              {% if field.errors %}
                                {% render_field field class="form-control is-invalid"  placeholder=field.label%}
                                {% for error in field.errors %}
                                  <div class="invalid-feedback">
                                    {{ error }}
                                  </div>
                                {% endfor %}
                              {% else %}
                                {% render_field field class="form-control is-valid" placeholder=field.label%}
                              {% endif %}
                            {% else %}
                              {% render_field field class="form-control" placeholder=field.label %}
                            {% endif %}
                        
                            {% if field.help_text %}
                              <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                          </div>
                        {% endfor %}
                        <div class="d-grid">
                          <button type="submit" name="login" class="btn btn-gray-800">Sign In</button>
                      </div>  
                            
                      </form>
                            <br />
                      
                            <div class="d-flex justify-content-center align-items-center mt-4">
                                <span class="fw-normal">
                                    Need a new Password?
                                    <a href="{% url 'password_reset' %}" class="fw-bold">Reset password</a>
                                    
                                </span>
                              </div>

                                <div class="d-flex justify-content-center align-items-center">
                                <span class="fw-normal">
                                  <p class="mt-5 mb-3 text-muted">&copy; {% now 'Y' %} GH </p>

                              </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
