<!--
* Copyright 2021 Themesberg (https://www.themesberg.com)
* License (https://themesberg.com/licensing)
-->

{% load static %}
{% load cache %}
{% load pwa %}
{% load webpush_notifications %}
{% load notifications_tags %}


<!DOCTYPE html>
<html lang="en">

<head> 
  {% progressive_web_app_meta %}
  {% webpush_header %}

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 
<title>
    Ticketing- {% block title %}{% endblock %}
</title>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="apple-touch-icon" sizes="120x120" href="/static/assets/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/assets/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/assets/img/favicon/favicon-16x16.png">
<link rel="manifest" href="/static/assets/img/favicon/site.webmanifest">
<link rel="mask-icon" href="/static/assets/img/favicon/safari-pinned-tab.svg" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

 
<link type="text/css" href="/static/assets/css/sweetalert2.min.css" rel="stylesheet">

<link type="text/css" href="/static/assets/css/toastr.css">
<link type="text/css" href="/static/assets/css/notyf.min.css" rel="stylesheet">
<link type="text/css" href="/static/assets/css/volt.css" rel="stylesheet">

<link type="text/css" href="https://appsrv1-147a1.kxcdn.com/volt-dashboard-pro-v131/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
 
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/css/select2.min.css" type="text/css" media="screen" rel="stylesheet">
<link href="{% static 'django_select2/django_select2.css' %}" type="text/css" media="screen" rel="stylesheet">
  <!-- Bootstrap Js CDN --> 

<!-- Specific Page JS goes HERE  -->    
{% block extracss %}{% endblock  %}



<style>
  toastr.options = {
    "closeButton": true,
    "debug": false,
    "newestOnTop": false,
    "progressBar": false,
    "positionClass": "toast-bottom-right",
    "preventDuplicates": false,
    "onclick": null,
    "showDuration": "300",
    "hideDuration": "1000",
    "timeOut": "5000",
    "extendedTimeOut": "1000",
    "showEasing": "swing",
    "hideEasing": "linear",
    "showMethod": "fadeIn",
    "hideMethod": "fadeOut"
  }
  .pb-z {
    padding-bottom: 11px !important;
  }

  .select2-container{
    width: 100%!important;
    }
    .select2-search--dropdown .select2-search__field {
    width: 98%;
    }
 

  .notification {
    color: white;
    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
  }
   
  .notification .badge {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 3px 5px;
    color: white;
    background-color:red;
    border-radius:80px;
  }

  div.dataTables_wrapper div.dataTables_length select {
    width: 65px;
    display: inline-block;
} 
.sidebar-footer{
  height: 50px;
  position: absolute;
   bottom: 0;
  list-style-type: none;
  padding-bottom:5.5em;
  }
 </style>
 
</head>
<body>
{% block body %}
    {% include 'include/sidebar.html' %}
    
    <main class="content">
  


 





      <nav class="navbar navbar-top navbar-sticky navbar-expand navbar-dashboard navbar-dark ps-0 pe-2 pb-z">
        <div class="container-fluid px-0">
          <div class="d-flex justify-content-between w-100" id="navbarSupportedContent">
            <div class="d-flex align-items-center">
             

              {% block nav %}
              <button id="sidebar-toggle"
              class="sidebar-toggle me-3 btn btn-icon-only d-none d-lg-inline-block align-items-center justify-content-center">
            <i class="fa fa-question-circle"></i> 
            </button>
              {% endblock %}
              
            </div>
      
            
            <!-- Navbar links -->
            <ul class="navbar-nav align-items-center">
      
           
      
              <li class="nav-item dropdown">
      
      
                <a class="nav-link text-primary notification dropdown-toggle"
                data-unread-notifications="true" href="#" role="button" data-bs-toggle="dropdown" data-bs-display="static"
                aria-expanded="false"> <i class="fa fa-bell" style="font-size:23px"></i>
                  <span class="badge">{% live_notify_badge %}</span>
                </a>
      
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-center mt-2 py-0">
      
                  {% for notification in  user.notifications.unread|slice:"0:5" %}
                  {% comment %} {% live_notify_list list_class="dropdown-menu" %} {% endcomment %}
      
                  <div class="list-group list-group-flush">
                     <a href="#" class="list-group-item list-group-item-action border-bottom">
                      <div class="row align-items-center">
                        <div class="col-auto">
                          <!-- Avatar -->
                        </div>
                        <div class="col ps-0 ms-2">
                          <div class="d-flex justify-content-between align-items-center">
                            <div>
                              <h7 class="h7 mb-0 text-small">New</h7>
                            </div>
                            <div class="text-end">
                              <small class="text-danger">{{notification.timestamp|timesince }}</small>
                            </div>
                          </div>
                          <p class="font-small mt-1 mb-0">{{notification.description}}</p>
                        </div>
                      </div>
                    </a>
                  </div>
                  {% endfor %}
      
                </div>
                
              </li>
              
              <li class="nav-item dropdown ms-lg-3">
                <a class="nav-link dropdown-toggle pt-1 px-0" href="/" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <div class="media d-flex align-items-center">
                    <img class="avatar rounded-circle" alt="Image placeholder" src="/static/assets/img/team/download.png">
                    <div class="media-body ms-2 text-dark align-items-center d-none d-lg-block">
                      <span class="mb-0 font-small fw-bold text-gray-900">
                        <strong>{{user}}</strong>
                      </span>
                    </div>
                  </div>
                </a>
                <div class="dropdown-menu dashboard-dropdown dropdown-menu-end mt-2 py-1">
                  
                  <a class="dropdown-item d-flex align-items-center" href="/settings.html">
                    <svg class="dropdown-icon text-gray-400 me-2" fill="currentColor" viewBox="0 0 20 20"
                      xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd"
                        d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z"
                        clip-rule="evenodd"></path>
                    </svg>
                    Settings
                  </a>
                  <a class="dropdown-item d-flex align-items-center" href="{% url 'password_reset'%}">
                    <svg class="dropdown-icon text-gray-400 me-2" fill="currentColor" viewBox="0 0 20 20"
                      xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd"
                        d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z"
                        clip-rule="evenodd"></path>
                    </svg>
                    Reset Password
                  </a>
                  <div role="separator" class="dropdown-divider my-1"></div>
                  <a class="dropdown-item d-flex align-items-center" href="{% url 'account:logout' %}">
                    <svg class="dropdown-icon text-danger me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                      xmlns="http://www.w3.org/2000/svg">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path>
                    </svg>
                    Logout
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      



      {% block content %}{% endblock content %}     
      <footer class="bg-white d-none rounded shadow p-5 mb-4 mt-4">
        <div class="row">
            <div class="col-12 col-md-4 col-xl-6 mb-4 mb-md-0">
                <p class="mb-0 text-center text-lg-start">
                    &copy; <a class="text-primary fw-normal" href="/" target="_blank">2022</a>
                 </p>
            </div>
            <div class="col-12 col-md-8 col-xl-6 text-center text-lg-start">
                <!-- List -->
                <ul class="list-inline list-group-flush list-group-borderless text-md-end mb-0">
                    <li class="list-inline-item px-0 px-sm-2">
                      {% webpush_button with_class="btn btn-outline-info" %}

                    </li>
                </ul>
            </div>
        </div>
    </footer>
      {% include 'cms/modal/modal.html' %}

    </main>
    {% endblock body %}
  {% include 'include/scripts.html' %}
    
  <!-- Specific Page JS goes HERE  -->
  {% block extrajs %}{% endblock  %}  

</body>
</html>
