<!--
* Copyright 2021 Themesberg (https://www.themesberg.com)
* License (https://themesberg.com/licensing)
-->

{% load static %}
{% load cache %}
{% load pwa %}
{% load webpush_notifications %}

{% load notifications_tags %}


<!DOCTYPE html>
<html lang="en">

<head> 
  {% progressive_web_app_meta %}
  {% webpush_header %}

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 
<title>
    Ticketing- {% block title %}{% endblock %}
</title>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="apple-touch-icon" sizes="120x120" href="/static/assets/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/assets/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/assets/img/favicon/favicon-16x16.png">
<link rel="manifest" href="/static/assets/img/favicon/site.webmanifest">
<link rel="mask-icon" href="/static/assets/img/favicon/safari-pinned-tab.svg" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

 
<link type="text/css" href="/static/assets/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">

<link type="text/css" href="/static/assets/notyf/notyf.min.css" rel="stylesheet">
<link type="text/css" href="/static/assets/css/volt.css" rel="stylesheet">

<link type="text/css" href="https://appsrv1-147a1.kxcdn.com/volt-dashboard-pro-v131/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
 
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/css/select2.min.css" type="text/css" media="screen" rel="stylesheet">
<link href="{% static 'django_select2/django_select2.css' %}" type="text/css" media="screen" rel="stylesheet">
  <!-- Bootstrap Js CDN --> 

<!-- Specific Page JS goes HERE  -->    
{% block extracss %}{% endblock  %}



<style>
  .pb-z {
    padding-bottom: 11px !important;
  }

  .select2-container{
    width: 100%!important;
    }
    .select2-search--dropdown .select2-search__field {
    width: 98%;
    }
 
.float{
    width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  font-size: 15px;
  text-align: center;
  background-color: #dbdddf1c;
  color: #19202a;
}

.btn-upgrade-pro {
  position: fixed;
  bottom: 15px;
  right: 100px;
   width: 150px;
}
  .notification {
    color: white;
    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
  }
   
  .notification .badge {
    position: absolute;
    top: 0px;
    right:-3px;
    padding: 5px 10px;
    color: white;
  }
 </style>
 
</head>
<body>
{% block body %}
    {% include 'include/sidebar.html' %}
    
    <main class="content">
  


      {% include 'include/navigation.html' %}

      {% block content %}{% endblock content %}     
      {% cache 500 footer%}
      <footer class="bg-white d-none rounded shadow p-5 mb-4 mt-4">
        <div class="row">
            <div class="col-12 col-md-4 col-xl-6 mb-4 mb-md-0">
                <p class="mb-0 text-center text-lg-start">
                    &copy; <a class="text-primary fw-normal" href="/" target="_blank">2022</a>
                 </p>
            </div>
            <div class="col-12 col-md-8 col-xl-6 text-center text-lg-start">
                <!-- List -->
                <ul class="list-inline list-group-flush list-group-borderless text-md-end mb-0">
                    <li class="list-inline-item px-0 px-sm-2">
                      {% webpush_button with_class="btn btn-outline-info" %}

                    </li>
                </ul>
            </div>
        </div>
    </footer>
    {% endcache %}

    </main>
    {% endblock body %}


<!-- Core -->

<script src="{% static 'assets/@popperjs/core/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'assets/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/volt.js' %}"></script>

<!-- Vendor JS -->
<script src= "{% static 'assets/onscreen/dist/on-screen.umd.min.js' %}" ></script>

<!-- Slider -->
<script src="{% static 'assets/nouislider/distribute/nouislider.min.js'%}"></script>

<!-- Smooth scroll -->
<script src="{% static 'assets/smooth-scroll/dist/smooth-scroll.polyfills.min.js' %}"></script>

<!-- Charts -->
{% comment %} <script src="/static/assets/vendor/chartist/dist/chartist.min.js"></script>
<script src="/static/assets/vendor/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script> {% endcomment %}

<!-- Datepicker -->
{% comment %} <script src="/static/assets/vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script> {% endcomment %}

<!-- Sweet Alerts 2 -->
<script src= "{% static 'assets/sweetalert2/dist/sweetalert2.all.min.js' %}"></script>

<!-- Moment JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>

<!-- Vanilla JS Datepicker -->
<script src="{% static 'assets/vanillajs-datepicker/dist/js/datepicker.min.js' %}"></script>

<!-- Notyf -->

<!-- Simplebar -->
<script src="{% static 'assets/simplebar/dist/simplebar.min.js' %}"></script>

<!-- Github buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- Volt JS -->
<script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

<script src="{% static 'django_select2/django_select2.js' %} "></script>
<script src="{% static 'bootstrap_datepicker_plus/js/datepicker-widget.js' %} "></script>
<script src="{% static 'cms/js/ajax.js' %}"></script>


 {% comment %} <script src="{% static 'js/notifications.js' %}" type="text/javascript"></script>     {% endcomment %}
 {% comment %} {% register_notify_callbacks callbacks='fill_notification_badge,my_special_notification_callback' %}      {% endcomment %}
  <!-- Specific Page JS goes HERE  -->
  {% block extrajs %}{% endblock  %}  
  {% include 'cms/modal/modal.html' %}

</body>
</html>
