
{% extends 'base.html' %}
{% load cms_tags %}
{% load cache %}
{% load static %}
{% block title %} {{ title }} · {{ block.super }} {% endblock title %}
{% block content %}  

 


{% comment %} <script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
      $('#table-ajax').dataTable(
      
      );

   } );
</script> {% endcomment %}
{% comment %} <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'app:home' %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
  </ol>
</nav>   {% endcomment %}


{% block table %}

 
 <div id="myDIV" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
  <h5 class="h5"><span class="text-primary">{% if request.path == '/archive/' %}<i class="fa fa-briefcase"></i>{% endif %}{% if request.path == '/tickets/' %}<i class="fa fa-envelopes-bulk"></i>{% endif %}   {{ title }}</span></h5>
  {% comment %} <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link {% if request.path == '/tickets/' %} active {% endif %}" aria-current="page" href="{% url 'app:home' %}">All Tickets</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if request.path == '/opentickets/' %} active {% endif %}" href="{% url 'app:open-tickets' %}">Open Tickets</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if request.path == '/archive/' %} active {% endif %}" href="{% url 'app:ticket-archive' %}">Archives</a>
    </li> {%
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
  </ul>   {% endcomment %}
   {% if request.user.is_superuser and request.user.is_staff %}
    <div class="btn-toolbar mb-2 mb-md-0">
      <a href="{% get_object_url 'create' %}" class="btn btn-sm btn-outline-primary ajax-load-form" >
      <i class="fas fa-plus"></i> Create {{ model_verbose_name }}</a>
    </div>
  {% endif %}
    

</div>
 
<table class="table table-hover table-responsive-sm" id="table-ajax" data-page-length='10'>
  <thead class="table-light">
    <tr>
      <th></th>
      <th>#</th>
      <th>{{ object_list|verbose_name:'field:title' }}</th>
      <th>{{ object_list|verbose_name:'field:ticket_choices' }}</th>
      <th style="text-align:center">{{ object_list|verbose_name:'field:description' }}</th>

      {% comment %} <th>{{ object_list|verbose_name:'field:folder' }}</th> {% endcomment %}

      <th>{{ object_list|verbose_name:'field:assigned_to' }}</th>
      <th class="one">{{ object_list|verbose_name:'field:sent_by' }}</th>

      <th>{{ object_list|verbose_name:'field:date_sent' }}</th>
      <th style="text-align:center">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% include 'app/partials/ticket_list_partial.html' %}
  </tbody>
 
</table>

 {% endblock table %}
{% endblock %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.11.5/r-2.2.9/datatables.min.css"/>
 <style>
  .table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control:before, table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control:before {
    top: 37%;
    
    background-color: #426381;
  }
.element{
  border: none;
  outline: none;
  padding:.25rem .5rem;
  cursor: pointer;
  font-size: 18px;
  line-height: 1.5;
  border-radius: 0.2rem;


}
element.active, .element:hover {
  background-color: #666;
  color: white;
  line-height: 1.5;
  padding:.25rem .5rem;


}
</style>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css">

{% endblock extracss %}

{% block extrajs %}
 
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.11.5/r-2.2.9/datatables.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.js"></script>

{% block tick%}
{% comment %} <script type = "text/javascript"
charset = "utf-8" >
$(document).ready(function () {

  $('#table-ajax').DataTable({
   
    destroy: true,

    columnDefs: [{
      orderable: false,
      targets: [0,6],
      className:'select-checkbox'
    
    }],
    select: {
      style: 'os',
      selector: 'td:first-child'
    },
    order: [
      [1, 'asc']
    ]
  });



});




</script> {% endcomment %}
  <script>
    var table = $('#table-ajax').DataTable({
      ordering: true,
      
      select: true,

      order: [
      [1, 'asc']
    ],
    columnDefs: [{
      orderable: true,
      className: 'select-checkbox',
      targets:   0
    
    },
    {
      "targets": [ 2,3 ],
      "visible": false
  }
    ],
    select: {
      info: true,
      style: 'multi',
      selector: 'td:nth-child(1)'
  },
  "language": {
    "zeroRecords": "Sorry, no tickets to display here", //changes words used
    "lengthMenu": "Show _MENU_ tickets", //changes words used
    "info": "&raquo; Showing _START_ to _END_ of _TOTAL_ tickets", //changes words used
    "search": "", //changes words used originally - Search programs:
    "searchPlaceholder": "Search tickets",
    "infoFiltered": "(filtered from _MAX_ total tickets)"
      }
    });

    // table.column(1).visible(false);


    $('ul').on('click', 'a', function() {

      table
        .columns(2)
        .search($(this).text())
        .draw();
    });
    $('.dataTables_length').addClass('bs-select');
    $('ul').on('click', 'a.all', function() {

      table
        .search('')
        .columns(2)
        .search('')
        .draw();
    });
  </script>
     <script>
      // Add active class to the current button (highlight it)
      var header = document.getElementById("myDIV");
      var btns = header.getElementsByClassName("element");
      for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function() {
        var current = document.getElementsByClassName("active");
        current[0].className = current[0].className.replace(" active", "");
        this.className += " active";
        });
      }
      </script>
{% comment %} initComplete: function () {
  this.api().column(2 ).every( function () {
      var column = this;
      var select = $('<select><option value=""></option></select>')
          .appendTo( $(column.header()) )
          .on( 'change', function () {
              var val = $.fn.dataTable.util.escapeRegex(
                  $(this).val()
              );

              column
                  .search( val ? '^'+val+'$' : '', true, false )
                  .draw();
          } );


      column.data().unique().sort().each( function ( d, j ) {
          select.append( '<option value="'+d+'">'+d+'</option>' )
      } );
  } );
}, {% endcomment %}
{% comment %} <script>
  var table = $('#table-ajax').DataTable();
 
table.ajax.reload( function ( json ) {
    $('#myInput').val( json.lastInput );
} );
</script> {% endcomment %}

{% endblock  %}

{% endblock %}