{% load cms_tags %}
{% for file in object_list %}
<tr id="{{ file.pk }}">
    <td><a href="{{ file.file.url }}">{{ file.filename }}</a></td>
    <td>{{ file.uploaded_at|date:'M. d, Y' }}</td>
    <td style="text-align: center;">
        <a href="{% get_object_url 'delete' file %}" class="btn btn-outline-danger btn-sm border-0 ajax-load-form" title="Delete">
            <i class="fa fa-trash-alt"></i></a>
    </td>
</tr>
{% empty %}
<tr class="table-warning nosort">
    <td colspan="100%" class="text-center"><small class="text-muted">No {{ model_verbose_name_plural|lower }}</small></td>
</tr>
{% endfor %}
